.productdisplay {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productdisplay-left {
display: flex;
gap: 17px;
}

.productdisplay-img-list {
display: flex;
flex-direction: column;
gap: 16px;
}

.productdisplay-img-list img {
width: 100%;
max-width: 163px;
height: auto;
}

.productdisplay-main-img {
max-width: 100%;
height: auto;
}

.productdisplay-right{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-stars{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 13px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-stars img{
    width: 18px;
}

.productdisplay-right-prices{
    display: flex;
    gap: 30px;
    margin: 20px 0px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new{
    color: #ff4141;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    background: #ff4141;
    border-radius: 80px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .productdisplay {
      flex-direction: column;
      align-items: center;
    }
  
    .productdisplay-left {
      flex-direction: column-reverse;
    }

    .productdisplay-img {
        max-width: 100%;
        max-width: 500px;
        height: auto;
        margin-bottom: 20px;
    }
  
    .productdisplay-img-list {
        display: none;
    }

    .productdisplay-right h1{
        font-size: 35px;
        font-weight: 600;
    }
    .productdisplay-right-prices{
        font-size: 18px;
 
    }
}

@media (max-width: 720px) {
    .productdisplay-img-list img{
        display: none;
    }

    .productdisplay-img {
        max-width: 100%;
        max-width: 400px;
        height: auto;
        margin-bottom: 20px;
    }

    .productdisplay-right h1{
        color: #3d3d3d;
        font-size: 22px;
        font-weight: 600;
    }

    .productdisplay-right-prices{
        font-size: 15px;
    }
}