.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-shadow: 0 1px 3px -2px black;
    background: white;
    z-index: 1000;
    position: sticky;
    top: 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
}

.nav-logo img{
    width: 40px;
}

.nav-login-cart button{
    width: 200px;
    height: 58px;
}

.nav-login-cart img{
    width: 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    color: #5c5050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.nav-menu li {
    cursor: pointer;
}

.nav-menu li a{
    color: #5c5050;
    text-decoration: none;
}

.nav-menu hr{
    border: none;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #a23d4e;
}

.nav-login-cart {
    display: flex;
    align-items: center;
}

.nav-login-cart button {
    width: 100px;
    height:40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.cart-container {
    position: relative;
    display: inline-block; /* Ensures it wraps the cart icon and counter */
}

.nav-cart-count {
    position: absolute;
    top: -5px; 
    right: -5px; 
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    background: #a23d4e;
    color: white;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #171717;
}

@media (max-width: 1024px) {
   
    .nav-cart-count {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 720px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        display: none;
    }

    .nav-menu {
        position: fixed;
        top: -100vh;
        left: 0;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 0; /* Start with no height */
        text-align: center;
        transition: all 0.3s ease;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1000;
        padding-top: 20px;
        visibility: hidden; /* Hide menu when closed */
        opacity: 0; /* Make it transparent when closed */
    }

    .nav-menu.active {
        top: 70px;
        height: calc(100vh - 70px); /* Subtract navbar height */
        visibility: visible;
        opacity: 1;
    }

    .nav-menu li {
        margin: 16px 0;
        margin-left: -100px;
    }

    .hamburger {
        display: block;
        margin-right: auto;
        margin-left: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-login-cart button {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}
