.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #f8f8f8;
    padding: 40px 20px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 28px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 40px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-icons-container img {
    width: 30px;
    height: auto;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
    color: #1a1a1a;
    font-size: 20px;
}


.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 1px;
    background: #c7c7c7;
}

.footer-copyright p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .footer {
        gap: 30px;
    }

    .footer-links {
        padding: 5px 0px;
        font-size: 16px;
        text-align: center;
    }

    .footer-social-icon {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-copyright p{
        font-size: 14px;
    }

    .footer-icons-container {
        padding: 8px;
        padding-bottom: 4px;
    }

    .footer-icons-container img {
        width: 24px;
        height: auto;
    }
}

@media (min-width: 360px) and (max-width: 720px){
    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-social-icon {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-copyright p{
        font-size: 14px;
    }

    .footer-icons-container {
        padding: 8px;
        padding-bottom: 4px;
    }

    .footer-icons-container img {
        width: 24px;
        height: auto;
    }
}