.hero{
    /*height: 100vh;*/
    background: linear-gradient(180deg, #c3a1cf, #e1ffea22 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 ;
    padding: 0 20px;
}

.hero-left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 50px;
    line-height: 1;
}

.hero-left h2{
    color: #090909;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.hero-left p{
    color: #171717;
    font-size: 80px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    width: 250px;
    height: 60px;
    border-radius: 75px;
    margin-top: 30px;
    background: #a23d4e;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.hero-latest-btn:active{
    background: #c44f63;
}

.hero-latest-btn img{
    width: 20px;
}

.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img{
    width: 500px;
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 1024px) {
    .hero {
        padding: 0 40px;
    }

    .hero-left p {
        font-size: 50px;
    }

    .hero-right img {
        width: 100%;
    }
}

  
@media (min-width: 360px) and (max-width: 720px){
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
  
    .hero-left {
        padding-left: 0;
        align-items: center;
        padding-top: 40px;
    }

    .hero-left p {
        font-size: 50px;
    }

    .hero-latest-btn {
        width: 80%;
        max-width: 300px;
    }

    .hero-right img {
        width: 100%;
        max-width: 300px;
        margin-top: 20px;
    }
}

