.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
    padding: 100px ;
    background: linear-gradient(180deg, #c3a1cf 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}

.newsletter p{
    color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 70px;
    background: black;
    color: white;
    border-radius: 80px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .newsletter {
        height: 40vh;
        padding-top: 50px;
    }

    .newsletter h1 {
        font-size: 40px;
        line-height: 1;
    }

    .newsletter p {
        font-size: 18px;
        padding-top: 5px;
    }
    .newsletter div{
        width: 600px;
    }
    
    .newsletter input{
        width: 400px;
    }
    
    .newsletter div button{
        width: 150px;
    }
}

@media (min-width: 360px) and (max-width: 720px){
    .newsletter {
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
        height: 50vh;
    }


    .newsletter h1 {
        font-size: 25px;
        padding: 10px 20px;
    }

    .newsletter p {
        padding: 0px 10px;
        font-size: 14px;
    }
    .newsletter div{
        width: 250px;
        height: 50px;
    }
    
    .newsletter input{
        width: 150px;
        font-size: 12px;
    }
    
    .newsletter div button{
        width: 100px;
        height: 50px;
        font-size: 12px;
    }
}